@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&display=swap');

.full{
  background-color: #f6f4d2;
}

h1{
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
}

.title{
  background-color: #d4e09b;
  text-align: center;
}
.bottom{
  background-color: #f6f4d2;
}

.sidebar{
  width: 250px;
  background-color: #cbdfbd;
}

button {
  outline: none;
  font-family: 'Montserrat', sans-serif;
}




